<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property
                name="hibernate.connection.url">jdbc:mysql://localhost:3306/apoio_a_restaurante?useSSL=false
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Coxinha123</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">false</property>

        <mapping class="br.uem.apoioarestaurante.metadata.entities.Produto"/>
        <mapping class="br.uem.apoioarestaurante.metadata.entities.Estoque"/>
        <mapping class="br.uem.apoioarestaurante.metadata.entities.MovimentoEstoque"/>
        <mapping class="br.uem.apoioarestaurante.metadata.entities.Pedido"/>
        <mapping class="br.uem.apoioarestaurante.metadata.entities.Cliente"/>
        <mapping class="br.uem.apoioarestaurante.metadata.entities.Usuario"/>
        <mapping class="br.uem.apoioarestaurante.metadata.entities.ItemPedido"/>
        <mapping class="br.uem.apoioarestaurante.metadata.entities.Pessoa"/>
        <mapping class="br.uem.apoioarestaurante.models.Permissao"/>
        <mapping class="br.uem.apoioarestaurante.models.GrupoPermissao"/>
    </session-factory>
</hibernate-configuration>
